<html>
    <body>
        <head>
            <script src="http://{{ ip }}:{{ port }}/jquery.js"></script>
            <script>
            function http_get(url_for){
                $.get(url_for, function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
            }
            </script>
        </head>
        <h2>Welcome to Paul's Robot</h2>
        <p>Below is the current state of the robot</p>
        <p>The robot is currently {{ direction }} at the set speed of {{ speed }}</p>
        <p>note the robot speed is set between values of 0-255</p>
        <button onclick="http_get('http://{{ ip }}:{{ port }}/led_on');">LED ON</button>
        <button onclick="http_get('http://{{ ip }}:{{ port }}/led_off');">LED OFF</button>
        <button onclick="http_get('http://{{ ip }}:{{ port }}/forward');">FORWARD</button>
    </body>
</html>